/* reset browsers default css */
*{
    margin: 0px;
    padding:0px;
    font-family: arial;
    font-size: 12px;
}

/* header css start */
header{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px;
    left: 0px;
    background: #fff;
    border-bottom: 1px solid #515151;
}
#searchbox{
    padding: 10px;
    width: 80%;
    display: block;
    margin: 5px auto;
    font-size: 1.5em;
}
/* loadig animation */
#loader{
    background-color: rgba(000,000,000,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 100px;
    display:none;
}
#loader > div{
    text-align: center;
    padding: 30px 70px;
    background-color: #fff;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    top:50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}
/* grid css start */
.grid {
    margin: 0 auto;
    max-width: 1280px;
    margin-top: 100px;
}
#results > div.list{
    width:calc(20% - 20px);
    margin: 10px;
    display: inline-block;
    border:1px solid #fff;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.colorDiv{
    min-height: 100px;
    margin-bottom: 10px;
}   
.message{
    text-align: center;
    font-size:2em;
    padding: 20px;
}
/* media query for ipad and mobile view */
@media only screen and (max-width: 992px){
    #results > div{
        width:calc(25% - 10px);
        margin:5px;
    }
}
@media only screen and (max-width: 768px){
    #results > div{
        width:calc(50% - 10px);
        margin:5px;
    }
}